
<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand text-info" href="#">E-SAFE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="padding-left: 1000px;">
        <li class="nav-item sign">
          <a routerLinkActive="active" routerLink="/signup" class="nav-link text-info" >SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLinkActive="active"  routerLink="/login">login</a>
        </li>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row  w-200" style="height: 400px;">
<div class="col-6 ">
  <h1 class="display-5 text-info" style="margin-top: 150px; padding-left: 60px;">BE HOME EVERYWHERE</h1>
  <p class="display-6 text-warning" style=" padding-left: 60px;">HomeStay Booking</p>
  <p style=" padding-left: 60px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Esse cumque repellat rerum eius.  Ea nostrum laudantium <br> harum nobis eos,  quisquam alias corporis odio qui est, <br> nesciunt voluptas,eveniet dolorum. Quos!</p>
  <button class="btn btn-info" style=" margin-left: 60px;">Read More</button>
 </div>
    <div class="col-6">
      <img src="../assets/Land.jpg" alt="" width="700px">
    </div>
  </div>
<!--
  <h4 class="text-danger " style="padding-left: 500px; padding-top: 150px;  ">ABOUT US</h4>

  <div class="row">
  <div class="col-6">
    <h5 class="text-info">Home at your pace</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Esse cumque repellat rerum eius.  Ea nostrum laudantium <br> harum nobis eos,  quisquam alias corporis odio qui est, <br> nesciunt voluptas,eveniet dolorum. Quos!
      Lorem ipsum <br> dolor  sit amet consectetur adipisicing elit.  Quas exercitationem <br> asperiores ea ducimus omnis officiis earum necessitatibus nulla? <br> Ad quia nulla magni libero unde, voluptatem repellat incidunt   <br>delectus vel officiis!
</div>
  <div class="col-6">
    <img src="../assets/urban-931.gif" alt="" width="600px" >
  </div>
</div> -->
</div>

